## Carregando dados no spark

In [2]:
# carregando arquivos do hdfs

df = spark.read.csv("hdfs://node1:8020//user/vagrant/beneficios/*", sep=';', header=True, encoding = 'latin1')

df.show()

+-----+----------+---------+--------------------+----+
|qt_sm|idade_conc|     sexo|             especie| cid|
+-----+----------+---------+--------------------+----+
|  1.0|        72|Masculino|Pensão por Morte ...|null|
|2.813|        67|Masculino|Aposentadoria por...|null|
|  1.0|        56| Feminino|Pensão por Morte ...|null|
|  1.0|        60|Masculino|Aposentadoria por...|null|
|  1.0|        66|Masculino|Amparo Social ao ...|null|
|1.111|        36|Masculino|Auxílio Doenca Pr...|null|
|  1.0|        63| Feminino|Aposentadoria por...|null|
|  1.0|        51| Feminino|Aposentadoria por...|null|
|  1.0|        60|Masculino|Aposentadoria por...|null|
|  1.0|        55| Feminino|Aposentadoria por...|null|
|  1.0|        60|Masculino|Aposentadoria por...|null|
|  1.0|        57| Feminino|Aposentadoria por...|null|
|  1.0|        56| Feminino|Aposentadoria por...|null|
|  1.0|        57|Masculino|Auxílio Doenca Pr...|S821|
|  1.0|        35| Feminino|Auxílio Doenca Pr...|C448|
|  1.0|        45|Masculino|Auxílio Doenca Pr...|M658|
|  1.0|        30| Feminino|Auxílio Doenca Pr...|I081|
|  1.0|        48| Feminino|Auxílio Doenca Pr...|M501|
|  1.0|        57|Masculino|Auxílio Doenca Pr...|I890|
|  1.0|        29|Masculino|Auxílio Doenca Pr...|null|
+-----+----------+---------+--------------------+----+
only showing top 20 rows

## Selecionando colunas

In [3]:
df2 = df.select('especie','sexo')

df2.show()

+--------------------+---------+
|             especie|     sexo|
+--------------------+---------+
|Pensão por Morte ...|Masculino|
|Aposentadoria por...|Masculino|
|Pensão por Morte ...| Feminino|
|Aposentadoria por...|Masculino|
|Amparo Social ao ...|Masculino|
|Auxílio Doenca Pr...|Masculino|
|Aposentadoria por...| Feminino|
|Aposentadoria por...| Feminino|
|Aposentadoria por...|Masculino|
|Aposentadoria por...| Feminino|
|Aposentadoria por...|Masculino|
|Aposentadoria por...| Feminino|
|Aposentadoria por...| Feminino|
|Auxílio Doenca Pr...|Masculino|
|Auxílio Doenca Pr...| Feminino|
|Auxílio Doenca Pr...|Masculino|
|Auxílio Doenca Pr...| Feminino|
|Auxílio Doenca Pr...| Feminino|
|Auxílio Doenca Pr...|Masculino|
|Auxílio Doenca Pr...|Masculino|
+--------------------+---------+
only showing top 20 rows

## Filtrando dados

In [4]:
# usando coluna do tipo boolean

df2 = df.filter(df.sexo == 'Feminino')

# usando uma expressão SQL

df3 = df.filter("sexo == 'Feminino'")

df2.show()
df3.show()

+-----+----------+--------+--------------------+----+
|qt_sm|idade_conc|    sexo|             especie| cid|
+-----+----------+--------+--------------------+----+
|  1.0|        56|Feminino|Pensão por Morte ...|null|
|  1.0|        63|Feminino|Aposentadoria por...|null|
|  1.0|        51|Feminino|Aposentadoria por...|null|
|  1.0|        55|Feminino|Aposentadoria por...|null|
|  1.0|        57|Feminino|Aposentadoria por...|null|
|  1.0|        56|Feminino|Aposentadoria por...|null|
|  1.0|        35|Feminino|Auxílio Doenca Pr...|C448|
|  1.0|        30|Feminino|Auxílio Doenca Pr...|I081|
|  1.0|        48|Feminino|Auxílio Doenca Pr...|M501|
|  1.0|        45|Feminino|Auxílio Doenca Pr...|M511|
|  1.0|        47|Feminino|Auxílio Doenca Pr...|M531|
|  1.0|        51|Feminino|Auxílio Doenca Pr...|M511|
|  1.0|        57|Feminino|Auxílio Doenca Pr...|null|
|  1.0|        30|Feminino|Auxílio Doenca Pr...|G402|
|  1.0|        13|Feminino|Pensão por Morte ...|null|
|  1.0|        55|Feminino|Aposentadoria por...|null|
|  1.0|        60|Feminino|Pensão por Morte ...|null|
|  1.0|        55|Feminino|Aposentadoria por...|null|
|  1.0|        55|Feminino|Pensão por Morte ...|null|
|  1.0|        65|Feminino|Amparo Social ao ...|null|
+-----+----------+--------+--------------------+----+
only showing top 20 rows

+-----+----------+--------+--------------------+----+
|qt_sm|idade_conc|    sexo|             especie| cid|
+-----+----------+--------+--------------------+----+
|  1.0|        56|Feminino|Pensão por Morte ...|null|
|  1.0|        63|Feminino|Aposentadoria por...|null|
|  1.0|        51|Feminino|Aposentadoria por...|null|
|  1.0|        55|Feminino|Aposentadoria por...|null|
|  1.0|        57|Feminino|Aposentadoria por...|null|
|  1.0|        56|Feminino|Aposentadoria por...|null|
|  1.0|        35|Feminino|Auxílio Doenca Pr...|C448|
|  1.0|        30|Feminino|Auxílio Doenca Pr...|I081|
|  1.0|        48|Feminino|Auxílio Doenca Pr...|M501|
|  1.0|        45|Feminino|Auxílio Doenca Pr...|M511|
|  1.0|        47|Feminino|Auxílio Doenca Pr...|M531|
|  1.0|        51|Feminino|Auxílio Doenca Pr...|M511|
|  1.0|        57|Feminino|Auxílio Doenca Pr...|null|
|  1.0|        30|Feminino|Auxílio Doenca Pr...|G402|
|  1.0|        13|Feminino|Pensão por Morte ...|null|
|  1.0|        55|Feminino|Aposentadoria por...|null|
|  1.0|        60|Feminino|Pensão por Morte ...|null|
|  1.0|        55|Feminino|Aposentadoria por...|null|
|  1.0|        55|Feminino|Pensão por Morte ...|null|
|  1.0|        65|Feminino|Amparo Social ao ...|null|
+-----+----------+--------+--------------------+----+
only showing top 20 rows

In [7]:
# duas ou mais condições

df2 = df.filter((df.idade_conc > 70) & (df.sexo == 'Feminino'))
df2.show()

+-----+----------+--------+--------------------+----+
|qt_sm|idade_conc|    sexo|             especie| cid|
+-----+----------+--------+--------------------+----+
|  1.0|        89|Feminino|Pensão por Morte ...|null|
|  1.0|        77|Feminino|Pensão por Morte ...|null|
|  1.0|        82|Feminino|Pensão por Morte ...|null|
|  1.0|        78|Feminino|Pensão por Morte ...|null|
|  1.0|        75|Feminino|Pensão por Morte ...|null|
|  1.0|        75|Feminino|Pensão por Morte ...|null|
|  1.0|        72|Feminino|Pensão por Morte ...|null|
|  1.0|        75|Feminino|Pensão por Morte ...|null|
|  1.0|        72|Feminino|Pensão por Morte ...|null|
|  1.0|        77|Feminino|Pensão por Morte ...|null|
|4.613|        73|Feminino|Pensão por Morte ...|null|
|1.093|        80|Feminino|Pensão por Morte ...|null|
|  1.0|        75|Feminino|Pensão por Morte ...|null|
|  1.0|        72|Feminino|Pensão por Morte ...|null|
|2.294|        89|Feminino|Pensão por Morte ...|null|
|  1.0|        82|Feminino|Pensão por Morte ...|null|
|  1.0|        77|Feminino|Pensão por Morte ...|null|
|  1.0|        86|Feminino|Pensão por Morte ...|null|
|  1.0|        88|Feminino|Pensão por Morte ...|null|
|  1.0|        81|Feminino|Pensão por Morte ...|null|
+-----+----------+--------+--------------------+----+
only showing top 20 rows

In [5]:
# utilizando a expressão "like"

df2 = df.filter(df.especie.like('%Acidente%'))
df2.show()

+-----+----------+---------+--------------------+----+
|qt_sm|idade_conc|     sexo|             especie| cid|
+-----+----------+---------+--------------------+----+
| 1.44|        30|Masculino|Auxílio Doenca po...|S623|
|  1.0|        33|Masculino|Auxílio Doenca po...|S424|
|  1.0|        35|Masculino|Auxílio Doenca po...|S421|
|1.151|        28|Masculino|Auxílio Doenca po...|M235|
|  1.0|        57|Masculino|Auxílio Doenca po...|null|
|3.657|        34|Masculino|Auxílio Doenca po...|M255|
| 2.54|        43| Feminino|Auxílio Doenca po...|M754|
| 1.23|        37|Masculino|Auxílio Doenca po...|M659|
|3.986|        46|Masculino|Auxílio Doenca po...|F321|
|1.189|        32| Feminino|Auxílio Doenca po...|null|
|2.298|        53|Masculino|Auxílio Doenca po...|S923|
|1.313|        51|Masculino|Auxílio Doenca po...|null|
|  1.0|        43|Masculino|Auxílio Doenca po...|S626|
|1.032|        33|Masculino|Auxílio Doenca po...|null|
|  1.0|        31|Masculino|Auxílio Doenca po...|S661|
|1.844|        41|Masculino|Auxílio Doenca po...|null|
|4.523|        37|Masculino|Auxílio Doenca po...|M659|
|2.535|        41| Feminino|Auxílio Doenca po...|null|
|1.337|        30|Masculino|Auxílio Doenca po...|S723|
|1.152|        56|Masculino|Auxílio Doenca po...|null|
+-----+----------+---------+--------------------+----+
only showing top 20 rows

In [6]:
## colunas derivadas

df2 = df.select(df.especie, df.qt_sm, df.qt_sm * 1200)
df2.show()

+--------------------+-----+------------------+
|             especie|qt_sm|    (qt_sm * 1200)|
+--------------------+-----+------------------+
|Pensão por Morte ...|  1.0|            1200.0|
|Aposentadoria por...|2.813|3375.6000000000004|
|Pensão por Morte ...|  1.0|            1200.0|
|Aposentadoria por...|  1.0|            1200.0|
|Amparo Social ao ...|  1.0|            1200.0|
|Auxílio Doenca Pr...|1.111|            1333.2|
|Aposentadoria por...|  1.0|            1200.0|
|Aposentadoria por...|  1.0|            1200.0|
|Aposentadoria por...|  1.0|            1200.0|
|Aposentadoria por...|  1.0|            1200.0|
|Aposentadoria por...|  1.0|            1200.0|
|Aposentadoria por...|  1.0|            1200.0|
|Aposentadoria por...|  1.0|            1200.0|
|Auxílio Doenca Pr...|  1.0|            1200.0|
|Auxílio Doenca Pr...|  1.0|            1200.0|
|Auxílio Doenca Pr...|  1.0|            1200.0|
|Auxílio Doenca Pr...|  1.0|            1200.0|
|Auxílio Doenca Pr...|  1.0|            1200.0|
|Auxílio Doenca Pr...|  1.0|            1200.0|
|Auxílio Doenca Pr...|  1.0|            1200.0|
+--------------------+-----+------------------+
only showing top 20 rows

## Unindo tabelas (join)

In [8]:
# carregando a tabela doencas

df_doencas = spark.read.csv("hdfs://node1:8020//user/vagrant/doencas/*", sep=';', header=True, encoding = 'latin1')
df_doencas.show()

+-------------+--------------------+-----------+----------+
|          cid|              doenca|causa_obito|restr_sexo|
+-------------+--------------------+-----------+----------+
|NÃO INFORMADO|       NÃO INFORMADO|       null|      null|
|         A000|Cólera devida a V...|       null|      null|
|         A001|Cólera devida a V...|       null|      null|
|         A009|Cólera não especi...|       null|      null|
|         A010|       Febre tifóide|       null|      null|
|         A011| Febre paratifóide A|       null|      null|
|         A012| Febre paratifóide B|       null|      null|
|         A013| Febre paratifóide C|       null|      null|
|         A014|Febre paratifóide...|       null|      null|
|         A020|Enterite por salm...|       null|      null|
|         A021|Septicemia por sa...|       null|      null|
|         A022|Infecções localiz...|       null|      null|
|         A028|Outras infecções ...|       null|      null|
|         A029|Infecção não espe...|       null|      null|
|         A030|Shiguelose devida...|       null|      null|
|         A031|Shiguelose devida...|       null|      null|
|         A032|Shiguelose devida...|       null|      null|
|         A033|Shiguelose devida...|       null|      null|
|         A038|  Outras shigueloses|       null|      null|
|         A039|Shiguelose não es...|       null|      null|
+-------------+--------------------+-----------+----------+
only showing top 20 rows

In [9]:
# juntando as tabelas

df2 = df.join(df_doencas, on='cid', how='left')

df2.show()

+----+-----+----------+---------+--------------------+--------------------+-----------+----------+
| cid|qt_sm|idade_conc|     sexo|             especie|              doenca|causa_obito|restr_sexo|
+----+-----+----------+---------+--------------------+--------------------+-----------+----------+
|null|  1.0|        72|Masculino|Pensão por Morte ...|                null|       null|      null|
|null|2.813|        67|Masculino|Aposentadoria por...|                null|       null|      null|
|null|  1.0|        56| Feminino|Pensão por Morte ...|                null|       null|      null|
|null|  1.0|        60|Masculino|Aposentadoria por...|                null|       null|      null|
|null|  1.0|        66|Masculino|Amparo Social ao ...|                null|       null|      null|
|null|1.111|        36|Masculino|Auxílio Doenca Pr...|                null|       null|      null|
|null|  1.0|        63| Feminino|Aposentadoria por...|                null|       null|      null|
|null|  1.0|        51| Feminino|Aposentadoria por...|                null|       null|      null|
|null|  1.0|        60|Masculino|Aposentadoria por...|                null|       null|      null|
|null|  1.0|        55| Feminino|Aposentadoria por...|                null|       null|      null|
|null|  1.0|        60|Masculino|Aposentadoria por...|                null|       null|      null|
|null|  1.0|        57| Feminino|Aposentadoria por...|                null|       null|      null|
|null|  1.0|        56| Feminino|Aposentadoria por...|                null|       null|      null|
|S821|  1.0|        57|Masculino|Auxílio Doenca Pr...|Fratura da extrem...|       null|      null|
|C448|  1.0|        35| Feminino|Auxílio Doenca Pr...|Neoplasia maligna...|       null|      null|
|M658|  1.0|        45|Masculino|Auxílio Doenca Pr...|Outras sinovites ...|          N|      null|
|I081|  1.0|        30| Feminino|Auxílio Doenca Pr...|Transtornos de am...|       null|      null|
|M501|  1.0|        48| Feminino|Auxílio Doenca Pr...|Transtorno do dis...|       null|      null|
|I890|  1.0|        57|Masculino|Auxílio Doenca Pr...|Linfedema não cla...|       null|      null|
|null|  1.0|        29|Masculino|Auxílio Doenca Pr...|                null|       null|      null|
+----+-----+----------+---------+--------------------+--------------------+-----------+----------+
only showing top 20 rows

## Execício 01

1. Carregue os arquivos beneficios.csv e doencas.csv no spark
2. Liste a idade, sexo e especie apenas para o sexo 'Masculino' cuja doença seja restrita ao sexo 'F'

In [26]:
# resposta do execício

df2.select(df2.idade_conc, df2.sexo, df2.especie, df2.restr_sexo).filter((df2.sexo == 'Masculino') & (df2.restr_sexo == 'F')).show()

+----------+---------+--------------------+----------+
|idade_conc|     sexo|             especie|restr_sexo|
+----------+---------+--------------------+----------+
|        39|Masculino|Auxílio Doenca Pr...|         F|
|        41|Masculino|Auxílio Doenca Pr...|         F|
|        25|Masculino|Auxílio Doenca Pr...|         F|
|        36|Masculino|Auxílio Doenca Pr...|         F|
|        61|Masculino|Amp. Social Pesso...|         F|
|        46|Masculino|Auxílio Doenca Pr...|         F|
|        38|Masculino|Auxílio Doenca Pr...|         F|
+----------+---------+--------------------+----------+

## Agrupando dados

In [28]:
# agrupando por uma coluna

df3 = df2.groupby('especie').count()
df3.show()

+--------------------+------+
|             especie| count|
+--------------------+------+
|Aposent. Tempo de...|   490|
|Auxílio Acidente ...|   860|
|    Auxílio Reclusão|   616|
|Amp. Social Pesso...| 10360|
|Aposentadoria Esp...|  1879|
|Auxílio Doenca Pr...|144916|
|Renda Mensal Vita...|     1|
|Pensão Vitalícia ...|     4|
|Pensão Vitalícia ...|    13|
|Aposentadoria Inv...|  6504|
|Auxílio Salario M...| 33021|
|Pensão Vitalícia ...|     6|
|Pensão por Morte ...|     1|
|Pensão por Morte ...| 35663|
|Pensão por Morte ...|     2|
|Aposentadoria por...| 15025|
|    Auxílio Acidente|  1469|
|Aposent. Invalide...|   287|
|Aposentadoria por...| 45056|
|       Auxilio União|  1190|
+--------------------+------+
only showing top 20 rows

In [29]:
# agrupando por mais de uma coluna

df2.groupby('especie','sexo').count().show()

+--------------------+---------+-----+
|             especie|     sexo|count|
+--------------------+---------+-----+
|    Auxílio Reclusão| Feminino|  345|
|Pensão por Morte ...| Feminino|    3|
|       Auxilio União|Masculino|  767|
|Auxílio Salario M...| Feminino|32994|
|Pensão Vitalícia ...| Feminino|    2|
|Pensão por Morte ...|Masculino| 9451|
|Aposentadoria por...|Masculino| 9899|
|Auxílio Acidente ...| Feminino|  203|
|Auxílio Suplement...|Masculino|    5|
|Amparo Social ao ...| Feminino| 7211|
|Renda Mensal Vita...|Masculino|    1|
|Aposentadoria Esp...| Feminino|  250|
|Pensão Vitalícia ...|Masculino|    4|
|Pensão por Morte ...| Feminino|    2|
|Pensao Especial H...|Masculino|    3|
|Pensão por Morte ...|Masculino|    6|
|Aposentadoria Inv...| Feminino| 2927|
|Aposentadoria Inv...|Masculino| 3577|
|Aposent. Invalide...|Masculino|  198|
|       Auxilio União| Feminino|  423|
+--------------------+---------+-----+
only showing top 20 rows

In [30]:
# mais de uma função de agregação

df2.groupby('especie','sexo').agg({'idade_conc':'mean', 'qt_sm':'sum'}).show()

+--------------------+---------+------------------+------------------+
|             especie|     sexo|   avg(idade_conc)|        sum(qt_sm)|
+--------------------+---------+------------------+------------------+
|    Auxílio Reclusão| Feminino|18.452173913043477|           413.403|
|Pensão por Morte ...| Feminino| 76.33333333333333|           133.746|
|       Auxilio União|Masculino| 19.73272490221643| 440.2580000000034|
|Auxílio Salario M...| Feminino|29.273746741831847| 35346.96599999974|
|Pensão Vitalícia ...| Feminino|              52.5|             1.946|
|Pensão por Morte ...|Masculino| 53.76933657813988|         11707.342|
|Aposentadoria por...|Masculino|57.090312152742705| 21845.07100000001|
|Auxílio Acidente ...| Feminino|40.995073891625616|143.47400000000002|
|Auxílio Suplement...|Masculino|              66.0|1.4149999999999998|
|Amparo Social ao ...| Feminino| 66.99639439744834|            7211.0|
|Renda Mensal Vita...|Masculino|              61.0|               1.0|
|Aposentadoria Esp...| Feminino|              50.6|           777.551|
|Pensão Vitalícia ...|Masculino|             41.25|               4.0|
|Pensão por Morte ...| Feminino|              61.0|             5.911|
|Pensao Especial H...|Masculino|60.666666666666664|5.9190000000000005|
|Pensão por Morte ...|Masculino|              21.5|11.107999999999999|
|Aposentadoria Inv...| Feminino|53.898530919029724|3467.6079999999984|
|Aposentadoria Inv...|Masculino| 53.45317305004193| 4893.957999999999|
|Aposent. Invalide...|Masculino| 50.91414141414141|390.92699999999996|
|       Auxilio União| Feminino|  23.3451536643026|242.80200000000042|
+--------------------+---------+------------------+------------------+
only showing top 20 rows

In [31]:
#usando funções de agregação

import pyspark.sql.functions as F
df2.groupby('especie','sexo').agg(F.avg('idade_conc').alias('media_idade'), F.sum('qt_sm').alias('valor_total')).show()

+--------------------+---------+------------------+------------------+
|             especie|     sexo|       media_idade|       valor_total|
+--------------------+---------+------------------+------------------+
|    Auxílio Reclusão| Feminino|18.452173913043477|           413.403|
|Pensão por Morte ...| Feminino| 76.33333333333333|           133.746|
|       Auxilio União|Masculino| 19.73272490221643| 440.2580000000034|
|Auxílio Salario M...| Feminino|29.273746741831847| 35346.96599999974|
|Pensão Vitalícia ...| Feminino|              52.5|             1.946|
|Pensão por Morte ...|Masculino| 53.76933657813988|         11707.342|
|Aposentadoria por...|Masculino|57.090312152742705| 21845.07100000001|
|Auxílio Acidente ...| Feminino|40.995073891625616|143.47400000000002|
|Auxílio Suplement...|Masculino|              66.0|1.4149999999999998|
|Amparo Social ao ...| Feminino| 66.99639439744834|            7211.0|
|Renda Mensal Vita...|Masculino|              61.0|               1.0|
|Aposentadoria Esp...| Feminino|              50.6|           777.551|
|Pensão Vitalícia ...|Masculino|             41.25|               4.0|
|Pensão por Morte ...| Feminino|              61.0|             5.911|
|Pensao Especial H...|Masculino|60.666666666666664|5.9190000000000005|
|Pensão por Morte ...|Masculino|              21.5|11.107999999999999|
|Aposentadoria Inv...| Feminino|53.898530919029724|3467.6079999999984|
|Aposentadoria Inv...|Masculino| 53.45317305004193| 4893.957999999999|
|Aposent. Invalide...|Masculino| 50.91414141414141|390.92699999999996|
|       Auxilio União| Feminino|  23.3451536643026|242.80200000000042|
+--------------------+---------+------------------+------------------+
only showing top 20 rows

## Ordenando dados

In [32]:
# usando o objeto Column

df.orderBy(df.idade_conc.asc()).show()

+-----+----------+---------+--------------------+----+
|qt_sm|idade_conc|     sexo|             especie| cid|
+-----+----------+---------+--------------------+----+
|2.065|      null| Feminino|Pensão por Morte ...|null|
|4.329|      null| Feminino|Auxílio Doenca Pr...|null|
|1.135|         0| Feminino|Pensão por Morte ...|null|
|0.574|         0|Masculino|       Auxilio União|null|
|  1.0|         0| Feminino|    Auxílio Reclusão|null|
|2.089|         0|Masculino|Pensão por Morte ...|null|
|  1.0|         0|Masculino|Amp. Social Pesso...|Q870|
|  1.0|         0|Masculino|    Auxílio Reclusão|null|
|  1.0|         0|Masculino|Amp. Social Pesso...|null|
|1.296|         0|Masculino|    Auxílio Reclusão|null|
|0.574|         0| Feminino|       Auxilio União|null|
|1.846|         0| Feminino|Pensão por Morte ...|null|
|1.137|         0|Masculino|Pensão por Morte ...|null|
|1.316|         0| Feminino|    Auxílio Reclusão|null|
|  1.0|         0| Feminino|Pensão por Morte ...|null|
|1.186|         0| Feminino|    Auxílio Reclusão|null|
|  1.0|         0|Masculino|Pensão por Morte ...|null|
|1.403|         0| Feminino|Pensão por Morte ...|null|
|  1.0|         0|Masculino|Pensão por Morte ...|null|
|  1.0|         0| Feminino|Pensão por Morte ...|null|
+-----+----------+---------+--------------------+----+
only showing top 20 rows

In [33]:
#usando o nome da coluna e o parametros ascending

df.orderBy('idade_conc', ascending=True).show()

+-----+----------+---------+--------------------+----+
|qt_sm|idade_conc|     sexo|             especie| cid|
+-----+----------+---------+--------------------+----+
|2.065|      null| Feminino|Pensão por Morte ...|null|
|4.329|      null| Feminino|Auxílio Doenca Pr...|null|
|1.135|         0| Feminino|Pensão por Morte ...|null|
|0.574|         0|Masculino|       Auxilio União|null|
|  1.0|         0| Feminino|    Auxílio Reclusão|null|
|2.089|         0|Masculino|Pensão por Morte ...|null|
|  1.0|         0|Masculino|Amp. Social Pesso...|Q870|
|  1.0|         0|Masculino|    Auxílio Reclusão|null|
|  1.0|         0|Masculino|Amp. Social Pesso...|null|
|1.296|         0|Masculino|    Auxílio Reclusão|null|
|0.574|         0| Feminino|       Auxilio União|null|
|1.846|         0| Feminino|Pensão por Morte ...|null|
|1.137|         0|Masculino|Pensão por Morte ...|null|
|1.316|         0| Feminino|    Auxílio Reclusão|null|
|  1.0|         0| Feminino|Pensão por Morte ...|null|
|1.186|         0| Feminino|    Auxílio Reclusão|null|
|  1.0|         0|Masculino|Pensão por Morte ...|null|
|1.403|         0| Feminino|Pensão por Morte ...|null|
|  1.0|         0|Masculino|Pensão por Morte ...|null|
|  1.0|         0| Feminino|Pensão por Morte ...|null|
+-----+----------+---------+--------------------+----+
only showing top 20 rows

In [34]:
# ordenando por mais de uma coluna

df.orderBy(["qt_sm","idade_conc"],ascending=[1,0]).show()

+-----+----------+---------+--------------------+----+
|qt_sm|idade_conc|     sexo|             especie| cid|
+-----+----------+---------+--------------------+----+
|0.004|        82| Feminino|Pensão por Morte ...|null|
|0.012|        55| Feminino|Pensão por Morte ...|null|
|  0.2|        60|Masculino|Auxílio Suplement...|null|
|  0.2|        52|Masculino|Auxílio Suplement...|null|
|0.202|        63| Feminino|Aposentadoria por...|null|
| 0.26|        32|Masculino|    Auxílio Acidente|null|
| 0.28|        63| Feminino|Aposentadoria por...|null|
|0.281|        63| Feminino|Aposentadoria por...|null|
|  0.3|        83|Masculino|Auxílio Suplement...|null|
|  0.3|        51|Masculino|Auxílio Acidente ...|null|
|0.343|        69|Masculino|Auxílio Suplement...|null|
|0.351|        39|Masculino|    Auxílio Acidente|null|
|0.372|        66|Masculino|Auxílio Suplement...|null|
|0.393|        52| Feminino|Pensão por Morte ...|null|
|  0.4|        55|Masculino|Auxílio Acidente ...|null|
|0.411|        68|Masculino|Aposentadoria por...|null|
| 0.44|        39| Feminino|    Auxílio Acidente|null|
|0.448|        63| Feminino|Aposentadoria por...|null|
|0.458|        61|Masculino|    Auxílio Acidente|null|
|0.473|        39| Feminino|Auxílio Acidente ...|null|
+-----+----------+---------+--------------------+----+
only showing top 20 rows

## Gravando dados

In [35]:
df4 = df2.groupby('sexo','doenca').agg(F.count('*').alias('total'))

# gravando dados no hdfs

df4.write.csv("hdfs://node1:8020//user/vagrant/dados/benef_por_sexo_doenca/", sep=';', header=True, mode='overwrite')

In [36]:
# gravando dados no hive

df4.write.saveAsTable('benef_por_sexo_doenca', mode='overwrite')

In [37]:
spark.sql('select * from benef_por_sexo_doenca').show()

+---------+--------------------+-----+
|     sexo|              doenca|total|
+---------+--------------------+-----+
|Masculino|Neoplasia maligna...|    9|
|Masculino|Neoplasia benigna...|    2|
|Masculino|Outros deslocamen...|   64|
|Masculino|Luxação da articu...|  278|
|Masculino|Transtorno obsess...|    6|
| Feminino|Prolapso de cúpul...|    8|
|Masculino|Outras neuropatia...|    2|
|Masculino|Trombose não-piog...|    7|
|Masculino|Fratura do antebr...|   50|
|Masculino|Neoplasia de comp...|   10|
| Feminino|Luxação de outras...|    4|
| Feminino|Outros transtorno...|   33|
| Feminino|Traumatismo de ou...|    6|
|Masculino|Distúrbio desafia...|    7|
|Masculino|Retinopatias de f...|   13|
|Masculino|          Linfangite|    4|
| Feminino|Febre não especif...|    3|
| Feminino|Outros transtorno...|    6|
| Feminino|Piodermite gangre...|    2|
| Feminino|Miopatia não espe...|    2|
+---------+--------------------+-----+
only showing top 20 rows

## Exercicio 02

1. Crie uma tabela chamada top10_doencas que contenha a doença, o sexo, a média de idade e o total de beneficios para as 10 maiores doenças. Use o método limit(n) para obter as n primeiras linhas do DataFrame;

In [49]:
df6 = df2.filter(df2.doenca.isNotNull()).groupby('doenca','sexo').agg(F.avg('idade_conc').alias('media_idade'), F.count('*').alias('total')).orderBy('total',ascending=False).limit(10)
.write.saveAsTable('top10_doencas', mode='overwrite')

AttributeError: 'NoneType' object has no attribute 'show'

## Convertendo um spark DataFrame para o Pandas

df.toPandas() 

*Ao converter o df para o pandas, a aplicação não mais contará com os recursos de distribuição e paralelismo do Spark/Hadoop

In [42]:
pdf = df.toPandas()

In [43]:
pdf.plot.barh(y='idade_conc')

NameError: name 'idade_conc' is not defined